html {
  background-color: #a5c882;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
.tree {
  position: relative;
  left: -25%;
  animation: slide 2s;
}

@keyframes slide {
  0% { left: 0%;
  }
  100% {
    left: -25%;
  }
}
#search {
  position: fixed;
  z-index: -1;
  display: none;
  top: 35%;
  left: 30%;
  right: 30%;
  margin: auto;
}

#enter {
  display: none;
}

footer {
  position: fixed;
  bottom: 2%;
  left: 40%;
  right: 40%;
  margin: auto;
}