<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="test.css" title="style" />
  <title>Document</title>
</head>
<body>
  
  <section class="grid-1">
    <div class="item-1">
      <div class="productImage">
        <img id="plantImage" src="https://www.gardendesign.com/pictures/images/900x705Max/dream-team-s-portland-garden_6/milkweed-plant-monarch-butterfly-shutterstock-com_12623.jpg" alt="milkweed">
      </div>
    </div>
    <div class="item-2">2</div>
    <div class="item-3">3</div>
    <div class="item-4">4</div>
    <div class="item-5">5</div>
    <div class="item-6">6</div>
    <div class="item-7">7</div>
    <div class="item-8">8</div>
    <div class="item-9">9</div>
  </section>


</body>
</html>