<head>
  <meta charseat="UTF-8">
  <title> Flora </title>
  <link rel="stylesheet" type="text/css" href="infoOutput.css" title="style" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="floraClient.js"></script> <!--link to js file-->
  <link rel="icon" type="image/x-icon" href="faviconF.png">
</head>
<body onload="send()">

  <header>  </header>
  <main>
    <div class="mainContainer">
      <!--<p id="out">placeHolder</p>-->
      <section class="fruitsSection">
        <ul class="fruitContainer">
          <li class="plant">
            <div class="plantImage">
              <img src="https://dodo.ac/np/images/2/23/Sapling_NH_Inv_Icon.png" alt="fruits">
            </div>
            <h3 class="plantName" id="plant1">PLANT A</h3>
            <button class="moreInfo" onclick="specInfo(1)">More Info</button>

          <li class="plant">
            <div class="plantImage">
              <img src="https://dodo.ac/np/images/2/23/Sapling_NH_Inv_Icon.png" alt="fruits">
            </div>
            <h3 class="plantName" id="plant2">PLANT B</h3>
            <button class="moreInfo" onclick="specInfo(2)">More Info</button>

          <li class="plant">
            <!-- <div class="buttonContainer">
              <i class="fa-solid fa-circle-info"></i>
              <i class="fa-solid fa-heart-circle-plus"></i>
            </div> -->
            <div class="plantImage">
              <img src="https://dodo.ac/np/images/2/23/Sapling_NH_Inv_Icon.png" alt="fruits">
            </div>
            <h3 class="plantName" id="plant3">PLANT C</h3>
            <!-- <div class="priceContainer">
              <p class="price">IPSUM</p>
            </div> -->
            <button class="moreInfo" onclick="specInfo(3)">More Info</button>
        </li>

        </ul>
      </section>
    </div>
    <!-- fruit listings end here -->
  </div>
  </main>

  <footer>