<!DOCTYPE html>
<html lang="En">

<head>
  <meta charseat="UTF-8">
  <title> FLORA </title>
  <link rel="stylesheet" type="text/css" href="infoOutput.css" title="style" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="floraClient.js"></script> <!--link to js file-->

</head>

<body>
  <header>
    <h1> FLORA </h1> <!--change header-->
  </header>

  <img id="icon" src="tree1.jpg"/> 
  <p id="output">placeHolder</p>
  <!--<button onclick="load()" id="start">DONE</button>-->
  <footer>(c) Authors: <span>sushiLovers</span></footer>
</body>

</html>