<!--<meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

<link rel='stylesheet' type='text/css' media='screen' href='infoOutput.css'>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="floraClient.js"></script> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>-->
<head>
  <meta charseat="UTF-8">
  <title> Flora </title>
  <link rel="stylesheet" type="text/css" href="infoOutput.css" title="style" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="floraClient.js"></script> <!--link to js file-->
  <link rel="icon" type="image/x-icon" href="faviconF.png">
</head>
<body onload="send()">

  <header>  </header>
  <main>
    <p id="test">placeholder</p>
    <div class="mainContainer">
      <!--<p id="out">placeHolder</p>-->
      <section class="fruitsSection">
        <ul class="fruitContainer">
          <li class="product">
            <div class="productImage">
              <img src="https://dodo.ac/np/images/2/23/Sapling_NH_Inv_Icon.png" alt="fruits">
            </div>
            <h3 class="plantName" id="plant1">Milkweed</h3>
            <button class="moreInfo">More Info</button>

          <li class="product">
            <div class="productImage">
              <img src="https://dodo.ac/np/images/2/23/Sapling_NH_Inv_Icon.png" alt="fruits">
            </div>
            <h3 class="plantName" id="plant2">LOREM</h3>
            <button class="moreInfo">More Info</button>

          <li class="product">
            <!-- <div class="buttonContainer">
              <i class="fa-solid fa-circle-info"></i>
              <i class="fa-solid fa-heart-circle-plus"></i>
            </div> -->
            <div class="productImage">
              <img src="https://dodo.ac/np/images/2/23/Sapling_NH_Inv_Icon.png" alt="fruits">
            </div>
            <h3 class="plantName" id="plant3">LOREM</h3>
            <!-- <div class="priceContainer">
              <p class="price">IPSUM</p>
            </div> -->
            <button class="moreInfo">More Info</button>

          <li class="product">
            <!-- <div class="buttonContainer">
              <i class="fa-solid fa-circle-info"></i>
              <i class="fa-solid fa-heart-circle-plus"></i>
            </div> -->
            <div class="productImage">
              <img src="https://dodo.ac/np/images/2/23/Sapling_NH_Inv_Icon.png" alt="fruits">
            </div>
            <h3 class="plantName">LOREM</h3>
            <button class="moreInfo">More Info</button>

          <li class="product">
            <div class="productImage">
              <img src="https://dodo.ac/np/images/2/23/Sapling_NH_Inv_Icon.png" alt="fruits">
            </div>
            <h3 class="plantName">LOREM</h3>
            <button class="moreInfo">More Info</button>

          <li class="product">
            <div class="productImage">
              <img src="https://dodo.ac/np/images/2/23/Sapling_NH_Inv_Icon.png" alt="fruits">
            </div>
            <h3 class="plantName">LOREM</h3>
            <button class="moreInfo">More Info</button>

        </li>

        </ul>
      </section>
    </div>
    <!-- fruit listings end here -->
  </div>
  </main>

  <footer>