<!DOCTYPE html>
<html lang="en">
<head>
  <meta charseat="UTF-8">
  <title> Flora </title>
  <link rel="stylesheet" type="text/css" href="milkweed.css" title="style" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="floraClient.js"></script> <!--link to js file-->
  <link rel="icon" type="image/x-icon" href="faviconF.png">
  <!--<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="milkweed.css" title="style" />
  <title>Flora</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap" rel="stylesheet">-->
</head>
<body> <!--onload="sendPlant()"-->
  <span id="title"><strong>Flora</strong></span>
  <span id="slogan">Improving your local ecosystem, one garden at a time</span>
  <div class="mainContainer">
    <div class="gridContainer">
    <img id="butterfly" src="images/My_project.png" />
    <div>
    <h1>Swamp Milkweed  - Asclepias incarnata</h1>
    <p id="appearance">The native swamp milkweed is a fragrant umbelled cluster of flowers which range in colour from soft mauve pink to reddish-violet.  This robust and straight stemmed plant grows three to five feet high, and like its common milkweed cousin, exudes a milky juice when broken. The fragrant umbelled clusters of flowers range in color from soft mauve to pink to reddish-violet. Five tiny delicate petals are crowned with five nectar cups that are crucial in its intricate pollination.
    </p>
    <h2>How does it help?</h2>
    <p>Swamp milkweed attracts a profusion of butterflies, especially the monarch butterfly.
      Monarchs cannot survive without milkweed; their caterpillars only eat milkweed plants, and monarch butterflies need milkweed to lay their eggs.
      </p>
      <div id="parentGrid" class="gridContainer">
        <div id="iconContainer" class="gridContainer">
          <h2>Is it right for your garden?</h2>
          <i class="fa-solid fa-droplet"></i>
          <i class="fa-solid fa-sun"></i>
          <i class="fa-solid fa-umbrella-beach"></i>
        </div>
        <div class="space"></div>
      </div>
      <img id="milkweed" src="images/My_project-1_1.png" />
    </div>
    </div>
</div>

</body>
</html>