<!DOCTYPE html>
<html lang="En">

<head>
  <meta charseat="UTF-8">
  <title> Flora </title>
  <link rel="stylesheet" type="text/css" href="welcomePage.css" title="style" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="floraClient.js"></script> <!--link to js file-->

</head>

<body>
  <header>
    <h1> flora </h1> <!--change header-->
  </header>
  <div id="startBoard">
    <img id="tree" src="tree1.jpg"><br><br>
  </div>
  <div id="search">
    <form>
      <label for="location">Where do you live?</label>
      <input type="text" id="location" name="location">
      <button type="button" onclick="load()">done</button>
    </form>
  </div>
  <div id="start">
    <button onclick="start()" id="start">start</button>
    <!--when the button click, centre photo slides to reveal form for location-->
  </div>


  <footer>(c) Authors: <span>salmonLovers</span></footer>
</body>

</html>